{% extends 'base.html' %}

{% block title %} Change password{% endblock title %}
{% for message in get_flashed_messages() %}
{{message}}
{% endfor %}
{% block body %}

<div class="mt-4 pt-4 m-4">
<div class="container">

    <h2>Change Password</h2>
    <form action="/change_password/{{user.sno}}" method="POST">
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password</label>
            <input type="password" class="form-control" name="old_password" type="password" id="old_password">
            {% if error %}
            <div class="form-control mb-4 pt-4 alert-danger text-center">
                <p><strong>Error</strong>: {{error}}</p>
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" name="new_password" type="password" id="new_password">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock body %}